body 
{
	background: url("Data/5.jpg") no-repeat; 
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
img.profile
{
	margin-left: 45%;
    margin-top: 10%;
	
}
input.button
{
    text-align: center; 
}
.field
{
	text-align:center; 
}
input
{
	padding: 2px 9px 4px;
    border-radius: 12px;
	margin: -2px;
}